<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SedariMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>35446AC32FAA05A6D593DA71A7C3586FEC6CF118</string>
				<key>dateExpires</key>
				<string>01/07/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>35446AC32FAA05A6D593DA71A7C3586FEC6CF118</string>
						<key>dateExpires</key>
						<string>01/07/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92A7XJUSA8</string>
						<key>name</key>
						<string>ARKANA SOLUSI DIGITAL, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>35446AC32FAA05A6D593DA71A7C3586FEC6CF118</string>
						<key>dateExpires</key>
						<string>01/07/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92A7XJUSA8</string>
						<key>name</key>
						<string>ARKANA SOLUSI DIGITAL, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>35446AC32FAA05A6D593DA71A7C3586FEC6CF118</string>
						<key>dateExpires</key>
						<string>01/07/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>92A7XJUSA8</string>
						<key>name</key>
						<string>ARKANA SOLUSI DIGITAL, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>92A7XJUSA8.com.sedari.mobile</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>92A7XJUSA8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SedariMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7cb04120-1fbc-44a3-b944-0d92b7a323fe</string>
				<key>dateExpires</key>
				<string>31/12/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.sedari.mobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>92A7XJUSA8</string>
				<key>name</key>
				<string>ARKANA SOLUSI DIGITAL, PT</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
